/* partie globale */

@font-face {
    font-family: "Jersey10";
    src: url(../assets/font/Jersey_10/Jersey10-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Roboto";
    src: url(../assets/font/Roboto_Condensed/static/RobotoCondensed-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

html, body {
    overflow-x: hidden ;
    max-width: 100vw;
}

body{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.no__scroll {
    overflow: hidden;
}

a{
    text-decoration: none;
}

.hov:hover,a:hover{
    background-color: rgba(255, 133, 0, 1);
}

.nohov:hover{
    background-color: #000000;
}

h1,h2,h3,h4,h5,h6,span{
    font-family: "Jersey10";
}

h1{
    font-size: 100px;
}

h3{
    font-size: 48PX;
}

p{
    font-family: "Roboto";
    font-size: 18px;
    line-height: 1.5;
}

/* partie header */

header{
    display: flex;
    padding: 1.25rem;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    align-self: stretch;
}

.burger{
    background: none;
    border: none;
    display: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.burgerdiv{
    display: none;
}

.bar{
    display: block;
    width: 30px;
    height: 4px;
    background-color: #FFFFFF;
    position: relative;
}

.bar::before, .bar::after{
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 12px;
}

.bar::after{
    top: 12px;
}

.logo{
    display: flex;
    max-width: 15rem;
    align-items: center;
}
.style__btn__2{
    width: 16.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 1rem;
    font-size: 48px;
    font-family: "Jersey10";
    color: #000000;
    text-transform: capitalize;
    border: none;
    text-decoration: none;
}

.style__btn__2:hover{
    cursor: pointer;
}

.btn__2 {
    font-size: 48px;
    font-family: "Jersey10";
    color: #000000;
    text-transform: capitalize;
    border: none;
    background-color:unset;
    text-decoration: none;
}

/* partie footer */

footer{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#000000;
    border-top: #FFFFFF solid .5rem;
    margin: 0 10rem;
}

.footer__content{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.footer__right{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    max-width: 50%;
}

.footer__lright, .footer__rright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.btn__3,.btn__4{
    display: flex;
    width: 15rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000000;
    border-radius: 1rem;
    font-family: "jersey10";
    font-size: 36px;
}

.btn__4{
    color: #656363;
}

.footer__left{
    display: flex;
    width: 33rem;
    height: 7.625rem;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    flex-direction: column;
    color: #000000; 
    border-radius: 1rem;
}

.footer__left span{
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
    font-size: 36px;
    text-transform: capitalize;
}

/* PAGE INDEX */

/* partie main */

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.banner__top{
    max-width: 100%;
}

.banner__bot{
    max-width: 100%;
} 

.hero__graphique{
    display: flex;
    max-width: 100%;
    align-items: center;
}

.arbre__violet{
    flex: 1 0 0;
    align-self: stretch;
    aspect-ratio: 0.15;
    max-width: 100%;
}

.arbre__orange{
    flex: 1 0 0;
    align-self: stretch;
    aspect-ratio: 0.15;
    max-width: 100%;
}

.contenu{
    display: flex;
    max-width: 74%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* partie hero */

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    margin: 0 10rem;
    padding-bottom: 3rem;
    border-bottom: #FFFFFF solid 0.5rem;
}

.hero__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
}

.hero__left h3{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1.25rem ;
}

.hero__left p {
    text-align: center;
}

.hero__content img{
    display: flex;
    width: 16.5rem;
    height: 16.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.hero h1{
    margin-bottom: 3rem;
    text-align: center;
}

/* partie video */

.video{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video h2{
    font-size: 100px;
    text-align: center;
    margin-bottom: 3rem;
}

.video__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16.5rem;
    margin-bottom: 3rem;
}

.video__content h3{
    font-size: 48px;
    margin-bottom: 1.5rem;
}

.leblockvid{
    width: 54rem;
    aspect-ratio: 1.7;
}

.video__content p{
    text-align: center;
    margin-bottom: 1.5rem;
}

/* partie s'abonner */

.sabonner{
    display: flex;
    justify-content: center;
    border-bottom: #FFFFFF solid 0.5rem;
    border-top: #FFFFFF solid 0.5rem;
    width: 74%;
    padding: 2rem 0;
    margin: 0;
}

.sabonner a{
    display: flex;
    font-family: "Jersey10";
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000000;
    border-radius: 1rem;
    padding: 0 1.5rem;
    margin: 0;
}

/* partie event */

.capphone{
    display: none;
}

.event{
    margin: 3rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.event__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    text-align: center;
}

.event__title{
    margin-bottom: 3rem;
    text-transform: capitalize;
}

.event__left p{
    margin-bottom: 1.5rem;
}

.event__btn{
    background-color: #fff;
    text-transform: capitalize;
    padding:  0 1.5rem;
    border-radius: 1rem;
    color: #000000;
    font-family: 'Jersey10';
    font-size: 3rem;
}

/* FIN PAGE INDEX */

/* PAGE COMMU */

/* parite main */

.community__contenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.community__contenu h1{
    margin: 3rem 0;
    text-transform: capitalize;
    text-align: center;
}

.img__commu{
    overflow: hidden;
    position: relative;
    aspect-ratio: 7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__commu img {
    width: 73%;
    height: auto;
    object-fit: cover;
}

.commu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commu__div{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 6.5fr 35fr 6.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 1.5rem;
}

.commu__card{
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    align-items: flex-start;
}

.commu__img{
    max-width: 50rem;
    aspect-ratio: 1.1;
    overflow: hidden;
    position: relative;
}

.commu__img img {
    max-width: 100%;
    position: relative;
}

.commu__contenu{
    margin-top: 1.5rem;
    display: flex;
    max-width: 50rem;
    flex-direction: column;
    align-items: center;
}

.commu__contenu h3{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 3rem;
}

.commu__contenu p{
    text-align: center;
    padding: 0 3rem;
    margin-bottom: 3rem;
}

.btn__5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    text-align: center;
    text-transform: capitalize;
    font-size: 6.25rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
    color: #000000;
    font-family: 'Jersey10';
}

.prev,.next{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev svg,.next svg {
    max-width: 2.5rem;
    fill: #ffffff;
}

/* Éphémères */

.twitch,
.youtube {
     display: none;
}

/* partie réseaux */

.community__réseaux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.community__réseaux h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-transform: capitalize; 
}

.little__svg{
    width: 3rem;
}

.svg__link {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    border-radius: 100%;
    aspect-ratio: 1;
    padding: .5rem;
}

.commu__réseaux__contenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30rem;
    grid-row-gap: 0px;
    }

.réseaux__mos h3,
.réseaux__tho h3 {
    background-color: #fff;
    color: #000000;
    padding: 0 4.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}

.réseaux__mos,
.réseaux__tho {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* partie formulaire*/

.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list__formulaire{
    display: flex;
    gap : 190px;
}

.elemlist__formulaire{
    display: flex;
    flex-direction: column;
}

/* page histoire */

.test{
    display: flex;
    flex-direction: column-reverse;
}

/* RESPONSIVE */



@media screen and (max-width:1860px) {
    .arbre__orange,
    .arbre__violet,
    .hero__content img{
        display: none;
    }
    .hero__graphique{
        justify-content: center;
    }
    footer {
        margin: 0;
    }
    .footer__content{
        flex-direction: column;
    }
    .video__content{
        padding: 0;
    }
    .commu__réseaux__contenu{
        gap: 10rem
    }
}

@media screen and (max-width:900px){

    .burger{
        z-index: 10;
        display:block;
        color: #FFFFFF;
    }
    .burgerdiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: #000000;
        z-index: 9;
        width: 0%;
        height: 100vh;
        top: 100px;
        left: 110%;
        opacity: 1;
        transition: all .5s;
        overflow-y: auto;
        gap: 60px;
        padding-top: 80px;
    }

    .burgeranim .burgerdiv{
        width: 100%;
        left: 0;
        transition: all 0.5s;
        opacity: 1;
    }

    .réseaux__burger{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        margin-top: 30px;
    }

    .style__btn__3{
        width: 16.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 1rem;
        font-size: 48px;
        font-family: "Jersey10";
        color: #000000;
        text-transform: capitalize;
        border: none;
        text-decoration: none;
    }

    .réseaux__burger .svg__link{
        width: 2.5rem;
    }

    .style__btn__1,
    .style__btn__2{
        display: none;
    }
    .arbre__orange,
    .arbre__violet,
    .banner__bot,
    .hero__content img{
        display: none;
    }

    .banner__top__top{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    /* partie hero */

    .hero h1{
        padding: 3rem 1rem 0;
    }

    .banner__top{
        position: relative;
        justify-content: center;
        align-items: center;
        max-width: 200%;
    }

    header{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 1.5rem 1.5rem 0 1.5rem;
        gap: 0;
    }

    .hero__content{
        margin: 0;
    }

    .hero__content h3{
        font-size: 24px;
    }

    h1{
        font-size: 36px;
    }

    .hero__graphique{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    /* partie video */

    .video h2{
        font-size: 36px;
        text-align: center;
        margin-bottom: 3rem;
    }

    .video__content{
        padding: 0;
    }

    .video__content h3{
        font-size: 24px;
        margin-bottom: 1.5rem;
    }
    .video__content a{
        max-width: 30rem;
        margin-bottom: 1.5rem;
    }
    
    .leblockvid{
        max-width: 100%;
    }

    /* partie s'abonner */

    .sabonner{
        width: 100%;
    }

    /* partie event */

    .capphone{
        display: flex;
    }

    .capdesk{
        display: none;
    }

    .event{
        margin: 0 0 3rem;
    }

    .event__title{
        margin-top: 24px ;
        font-size: 36px;
    }

    /* partie footer */

    footer{
        margin: 0;
        width: 74%;
    }
    
    .footer__content{
        display: flex;
        flex-direction: column;
    }
    
    .footer__left span,.btn__3,.btn__4{
        font-size: 20px;
    }

    .footer__left{
        width: 23rem;
    }

    .btn__3,.btn__4{
        width: 10rem;
    }
    
    /* PAGE COMMU */
    .twitch,.youtube{
        display: flex;
    }

    .commu__div{
        display: flex;
    }

    .img__commu img{
        width: 90%;
    }

    .than {
        display: none;
    }

    .btn__5{
        max-width: 100%;
        font-size: 36px;
    }

    .community__contenu h1{
        text-align: center;
    }

    .commu__img{
        display: none;

    }

    .commu__contenu h3{
        font-size: 36px;
    }

    .réseaux__mos h3,
    .réseaux__tho h3{
        padding: 0 2.5rem;
    }

    .community__réseaux h2{
        margin: 1.5rem;
        font-size: 36px;
        text-align: center;
    }

    .commu__réseaux__contenu{
        margin: 0 1.5rem;
        gap: 1.5rem;
    }
}