/* partie globale */

@font-face {
    font-family: "Jersey10";
    src: url(../assets/font/Jersey_10/Jersey10-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Roboto";
    src: url(../assets/font/Roboto_Condensed/static/RobotoCondensed-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Jersey10";
}

h1{
    font-size: 100px;
}

h3{
    font-size: 48PX;
}

p{
    font-family: "Roboto";
    font-size: 18px;
}

/* partie header */

header{
    display: flex;
    padding: 1.25rem 16.25rem;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    align-self: stretch;
}

.logo{
    display: flex;
    width: 16.5rem;
    align-items: center;
}
.style__btn__1{
    width: 16.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.style__btn__2{
    width: 16.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

.style__btn__2:hover{
    cursor: pointer;
}

.btn__1{
    font-size: 36px;
    font-family: "Jersey10";
    text-decoration-line: underline;
    color: #656363;
    text-transform: capitalize;
    background-color: #000000;
    border: none;
}

.btn__2 {
    font-size: 48px;
    font-family: "Jersey10";
    color: #000000;
    text-transform: capitalize;
    border: none;
    background-color:unset;
    text-decoration: none;
}

/* partie footer */

footer{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color:#000000;
    border-top: #FFFFFF solid .5rem;
    margin: 0 10rem;
}

.footer__content{
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 19rem;
    align-self: stretch;
}

.footer__right{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    max-width: 50%;
}

.footer__lright, .footer__rright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.btn__3,.btn__4{
    display: flex;
    width: 15rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000000;
    border-radius: 1rem;
    font-family: "jersey10";
    font-size: 36px;
}

.btn__4{
    color: #656363;
}

.footer__left{
    display: flex;
    width: 33rem;
    height: 7.625rem;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    flex-direction: column;
    color: #000000; 
    border-radius: 1rem;
}

.footer__left h6{
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
    font-size: 36px;
    text-transform: capitalize;
}

/* PAGE INDEX */

/* partie main */

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.banner__top{
    max-width: 100%;
}

.banner__bot{
    max-width: 100%;
} 

.hero__graphique{
    display: flex;
    max-width: 100%;
    align-items: center;
}

.arbre__violet{
    flex: 1 0 0;
    align-self: stretch;
    aspect-ratio: 0.15;
    max-width: 100%;
}

.arbre__orange{
    flex: 1 0 0;
    align-self: stretch;
    aspect-ratio: 0.15;
    max-width: 100%;
}

.contenu{
    display: flex;
    max-width: 74%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* partie hero */

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    margin: 0 10rem;
    padding-bottom: 3rem;
    border-bottom: #FFFFFF solid 0.5rem;
}

.hero__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
}

.hero__left h3{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1.25rem ;
}

.hero__left p {
    text-align: center;
}

.hero__content img{
    display: flex;
    width: 16.5rem;
    height: 16.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.hero h1{
    margin-bottom: 3rem;
    text-align: center;
}

/* partie vidéo */

.vidéo{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vidéo h2{
    font-size: 100px;
    text-align: center;
    margin-bottom: 3rem;
}

.vidéo__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16.5rem;
}

.vidéo__content h3{
    font-size: 48px;
    margin-bottom: 1.5rem;
}

.vidéo__content a img{
    max-width: 52rem;
    margin-bottom: 1.5rem;
}

.vidéo__content p{
    text-align: center;
    margin-bottom: 1.5rem;
}

/* partie s'abonner */

.sabonner{
    display: flex;
    justify-content: center;
    border-bottom: #FFFFFF solid 0.5rem;
    border-top: #FFFFFF solid 0.5rem;
    margin: 0 10rem;
    max-width: 74%;
}

.sabonner a{
    display: flex;
    width: 58rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000000;
    margin: 1.5rem 4.5rem;
    border-radius: 1rem;
}

/* partie event */

.event{
    margin: 3rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.event__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    text-align: center;
}

.event__title{
    margin-bottom: 3rem;
    text-transform: capitalize;
}

.event__left p{
    margin-bottom: 1.5rem;
}

.event__btn{
    background-color: #fff;
    text-transform: capitalize;
    padding:  0 1.5rem;
    border-radius: 1rem;
    color: #000000;
}

/* FIN PAGE INDEX */

/* PAGE COMMU */

/* parite main */

.community__contenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.community__contenu h1{
    margin: 3rem 0;
    text-transform: capitalize;
}

.img__commu{
    overflow: hidden;
    position: relative;
    aspect-ratio: 7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__commu img {
    width: 73%;
    height: auto;
    object-fit: cover;
}

.commu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commu__div{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 6.5fr 35fr 6.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 1.5rem;
}

.commu__card{
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    align-items: flex-start;
}

.commu__img{
    max-width: 50rem;
    aspect-ratio: 1.1;
    overflow: hidden;
    position: relative;
}

.commu__img img {
    max-width: 100%;
    position: relative;
}

.commu__contenu{
    margin-top: 1.5rem;
    display: flex;
    max-width: 50rem;
    flex-direction: column;
    align-items: center;
}

.commu__contenu h3{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 3rem;
}

.commu__contenu p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding: 0 3rem;
    margin-bottom: 3rem;
}

.btn__5 h3{
    text-align: center;
    text-transform: capitalize;
    font-size: 6.25rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
    color: #000000;
}

.btn__5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
}

.than{
    display: flex;
    justify-content: center;
    align-items: center;
}

.than svg {
    max-width: 2.5rem;
    fill: #ffffff;
}

/* Éphémères */

.twitch,
.youtube {
     display: none;
}

/* partie réseaux */

.community__réseaux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.community__réseaux h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-transform: capitalize; 
}

.little__svg{
    width: 3rem;
}

.svg__link {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    border-radius: 100%;
    aspect-ratio: 1;
    padding: .5rem;
}

.commu__réseaux__contenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30rem;
    grid-row-gap: 0px;
    }

.réseaux__mos h3,
.réseaux__tho h3 {
    background-color: #fff;
    color: #000000;
    padding: 0 4.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}

.réseaux__mos,
.réseaux__tho {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
